namespace                = "<namespace>"
stream_bucket_name       = "<unique-bucket-name>
region                   = "eu-west-1"
allowed_origin           = "*"
monthly_budget_usd       = "5.0"
alert_email              = "alert@email.com"
